<!-- Archivo: templates/ingenieria/producto_info.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Agrega otros estilos según sea necesario -->
    <title>Detalles del Producto</title>
</head>
<body>
    <!-- Contenido de los detalles del producto -->
    <h1>Detalles del Producto {{ producto_id }}</h1>
    <!-- Agrega aquí la lógica para mostrar la información del producto -->
</body>
</html>
