<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Información del Producto</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        /* Estilo para la imagen del producto */
        img {
            max-width: 70%; /* Ajusta el ancho máximo según sea necesario */
            height: auto; /* Ajusta la altura automáticamente */
            margin-bottom: 10px; /* Añade espacio inferior para separar del texto */
        }
        /* Agrega tus estilos específicos según sea necesario */
    </style>
</head>
<body>
    <!-- Contenido de la página de información del producto -->
    <h1>Información del producto</h1>
    
    <!-- Agrega detalles del producto según sea necesario -->
    <div>
        <img src="../static/img/ingenieria/productos/producto_2.jpg" alt="Imagen del Producto 2">
        <p>Lámpara de medusa</p>
        <p>Tengo a la venta este tipo de lámparas, sólo me quedan color blanco, pero me surto más en dos meses.</p>
        <p>Precio: $60.00</p>
    </div>

    <!-- Detalles del vendedor -->
    <div>
        <h2>Detalles del Vendedor</h2>
        <p>Valeria Reyes</p>
        <p>Contacto: 55 123-456</p>
        <!-- Agrega más detalles del vendedor según sea necesario -->
    </div>

    <!-- Enlace para enviar mensaje al vendedor -->
    <a href="/enviar_mensaje/1">Mandar mensaje al vendedor</a>
    <!-- Ajusta la ruta según tus necesidades -->

    <!-- Agrega más contenido según sea necesario -->
</body>
</html>
