<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Información del Producto</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
        }

        /* Estilo para la imagen del producto */
        img {
            max-width: 70%; /* Ajusta el ancho máximo según sea necesario */
            height: auto; /* Ajusta la altura automáticamente */
            margin-bottom: 10px; /* Añade espacio inferior para separar del texto */
        }
        /* Agrega tus estilos específicos según sea necesario */
    </style>
</head>
<body>
    <!-- Contenido de la página de información del producto -->
    <h1>Información del producto</h1>
    
    <!-- Agrega detalles del producto según sea necesario -->
    <div>
        <img src="../static/img/ingenieria/productos/producto_1.jpg" alt="Imagen del Producto 1">
        <p>Play Station 4 Slim</p>
        <p>Que tal amigos, ando vendiendo este Play 4 Slim 1TB con dos controles, todos sus cables y el GTA V en $3500 a tratar, esta prácticamente nueva, no la use casi nada por la escuela y le trabajo, de igual manera se le acaba de hacer limpieza para que no tenga problemas de refrigeración o ruidos con el ventilador, tienen garantía de 6 meses directo conmigo.</p>
        <p>Precio: $3500.00</p>
    </div>

    <!-- Detalles del vendedor -->
    <div>
        <h2>Detalles del Vendedor</h2>
        <p>Pancho Pencho</p>
        <p>Contacto: 55 123-456</p>
        <!-- Agrega más detalles del vendedor según sea necesario -->
    </div>

    <!-- Enlace para enviar mensaje al vendedor -->
    <a href="/enviar_mensaje/1">Mandar mensaje al vendedor</a>
    <!-- Ajusta la ruta según tus necesidades -->

    <!-- Agrega más contenido según sea necesario -->
</body>
</html>
