<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>Universidad Nacional Autónoma de México - Ciudad Universitaria</title>
</head>

<body>

  <header>
    <h1>Universidad Nacional Autónoma de México</h1>
    <h2>Ciudad Universitaria</h2>
  </header>

  <nav>
    <ul>
      <li><a href="/ingenieria">Facultad de Ingeniería</a></li>
      <li><a href="/economia">Facultad de Economía</a></li>
      <li><a href="/ciencias">Facultad de Ciencias</a></li>
      <!-- Agrega más enlaces según sea necesario -->
    </ul>
  </nav>

  <section>
    <a href="/registro">
      <button id="registroBtn">Registro</button>
    </a>
    <a href="/inicio_de_sesion">
      <button id="inicioSesionBtn">Iniciar sesión</button>
    </a>
  </section>

  <footer>
    <p>&copy; 2023 Universidad Nacional Autónoma de México. Todos los derechos reservados.</p>
  </footer>

  <!-- Agrega aquí el código JavaScript si es necesario -->

</body>

</html>
